<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../estilo.css" type="text/css" />
    <script
      src="https://kit.fontawesome.com/b27b674285.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap"
      rel="stylesheet"
    />
    <title>Jardin PC</title>
  </head>
  <body>
    <header>
      <a name="inicio"></a>
      <h1>El Jardin PC Servicios IT</h1>
      <h2 id="titulo">Inicio</h2>
      <nav>
        <ul>
          <li><a id="menu" href="index.html">Inicio </a></li>
          <li><a id="menu" href="#info">Informacion Principal</a></li>
          <li><a id="menu" href="#contact">Contacto</a></li>
          <li><a id="menu" href="#productos">Productos</a></li>
        </ul>
      </nav>
    </header>
    <img class="logo" src="../jardin logo.jpg" alt="JardinPC Web" />
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius harum ipsum
      suscipit possimus dolor. Accusamus, quaerat. Adipisci, voluptate
      blanditiis voluptatem recusandae placeat veritatis fugit iste cum dicta
      illo, sunt quo!
    </p>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

    <a name="info">Informacion Principal</a>
    <div class="quienesSomos">
      <p>
        ARMAMOS TU EQUIPO NUEVO A TU MEDIDA SEGÚN TU PROFESIÓN: DISEÑO
        AUDIOVISUAL, MÚSICA, ARQUITECTURA, INGENIERÍA...
      </p>
      <h2>INFORMACIÓN ADICIONAL</h2>
      <div>
        <ul>
          <li>REPARACIÓN DE FALLAS DE HARDWARE Y SOFTWARE.</li>
          <li>MANTENIMIENTO GENERAL,RESPALDO Y RECUPERACIÓN DE DATOS.</li>
          <li>INSTALACIÓN DE PROGRAMAS ESENCIALES Y ESPECIALES.</li>
          <li>RETIROS Y ENVÍOS A DOMICILIO.</li>
        </ul>
        <div class="ubicacion">
        <<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3271.6831655542796!2d-57.95382938491079!3d-34.914399780380236!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a2e6374ae86095%3A0xe4db7f78caa95231!2sGaler%C3%ADa%20Mayo!5e0!3m2!1ses!2sar!4v1646953128441!5m2!1ses!2sar" allowfullscreen="" loading="lazy"></iframe>
    </div>
      </div>
      
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <a name="productos">PRODUCTOS</a>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta minus neque
      perferendis tenetur molestiae consequuntur aut iure. Ullam, similique.
      Tenetur repellendus pariatur perspiciatis ducimus repudiandae neque soluta
      aperiam voluptatem saepe!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta minus neque
      perferendis tenetur molestiae consequuntur aut iure. Ullam, similique.
      Tenetur repellendus pariatur perspiciatis ducimus repudiandae neque soluta
      aperiam voluptatem saepe!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta minus neque
      perferendis tenetur molestiae consequuntur aut iure. Ullam, similique.
      Tenetur repellendus pariatur perspiciatis ducimus repudiandae neque soluta
      aperiam voluptatem saepe!
    </p>
    <div>
        <a name="contact"></a>
        <h3>PUEDES SEGUIRNOS EN:</h3>
                <a class="linkContacto face"href="https://www.facebook.com/ElJardinPC"><i class="fab fa-facebook-square"></i></a> 
                <a class="linkContacto ig"href="https://www.instagram.com/eljardinpc"><i class="fab fa-instagram"></i></a>
                <a class="linkContacto whatsappIcon" href="https://api.whatsapp.com/send?phone=54221314225"><i class="fab fa-whatsapp"></i></a> <br><br>
                <div class="dcto">
                <a href="https://api.whatsapp.com/send?phone=54221314225"> 
                    <div class="descuento" >
                        <div class="porc"> 10% </div>
                        <div class="off">off en </div>
                        <div class="resto"> servicio remoto </div>
                    </div>
                </a></div>
    </div>
  </body>
</html>
